body{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    background: black;
}

.box{
    width: 300px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #959F93;
    text-align: center;
}
.box h1{
    color: white;
    font-weight: 500;
    font-size: 3rem;
}

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #BAF2E9;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 1rem;
}
.box input[type="text"]::placeholder,.box input[type="password"]::placeholder{
    color: white;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}